* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    margin: auto;
    max-width: calc(100% - 135px)
}

a {
    text-decoration: none;
    color: currentColor;
}

.btn {
    display: inline-block;
    padding: 21.5px;
    min-width: 186px;
    border-radius: 14px;
    background: #2AC9BF;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background: #1EBFC1;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.heading-lv2 {
    color: #0D1111;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33;
}

/* Header */
.header .nav {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .menu-list {
    display: flex;
    gap: 30px;
}

.header .nav .menu-list .li {
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav .menu-list .active {
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 600;
}

.header .nav .action .sign-in {
    margin-right: 24px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav .action .btn-sign-up {
    padding: 10.5px;
    min-width: 108px;
    background-color: #fff;
    color: #1EBFC1;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
}

/* Hero */

.hero .body {
    padding-top: 50px;
    padding-bottom: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .body .block-info .logan {
    color: #767E7E;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}

.hero .body .block-info .heading-lv1 {
    margin-top: 18px;
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16
}

.hero .body .block-info .desc {
    width: 374px;
    margin-top: 46px;
    color: #9DA6A5;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
}

.hero .body .block-info .btn-cta .btn {
    margin-top: 52px;
}

.hero .body .block-info .btn-cta .watch-video {
    margin-left: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px #0000000D;

}

.hero .block-img .hero-img img {
    position: relative;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .block-img .hero-img {
    position: relative;
}


.hero .block-img .hero-img .course-block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    bottom: 407px;
    left: -40px;
}

.hero .block-img .hero-img .course-block .book-svg {
    position: relative;
}

.hero .block-img .hero-img .course-block .card-red {
    width: 36px;
    height: 40px;
}

.hero .block-img .hero-img .course-block .line-book {
    position: absolute;
    width: 28px;
    height: 4px;
    bottom: 12px;
    left: 4px;
}

.hero .block-img .hero-img .course-block .desc {
    width: 55px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 16px;
}

.hero .block-img .hero-img .schedules-block {
    position: absolute;
    bottom: 46px;
    left: -65px;
    padding: 16px 25px 16px 25px;
    width: 124px;
    height: 132px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .block-img .hero-img .schedules-block svg:nth-of-type(1) {
    margin-top: 6px;
}

.hero .block-img .hero-img .schedules-block .line-white {
    margin-top: 6px;
    width: 26px;
    height: 6px;
    background: #EDF1F5;
}

.hero .block-img .hero-img .schedules-block .desc {
    color: #0D1111;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero .block-img .student-block {
    padding: 17px 35px;
    position: absolute;
    right: -31px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .block-img .student-block .desc {
    color: #0D1111;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero .block-img .student-block .group-avatar {
    display: flex;
}

.hero .block-img .student-block .group-avatar img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.hero .block-img .student-block .group-avatar .avatar+.avatar {
    margin-left: -7px;
}

.hero .block-img .student-block .group-avatar .avatar:last-child {
    z-index: 1;

}

/* ======== Features ======== */

.features {
    margin-top: 130px;
}

.features .body .slogan {
    color: #767E7E;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features .body .heading-lv2 {
    margin-top: 18px;
    width: 557px;
}

.features .body .desc {
    margin-top: 18px;
    width: 590px;
    color: #767E7E;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.features .body .card-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features .body .card-item .heading-lv3 {
    margin-top: 26px;
    color: #0D1111;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.features .body .card-list .desc {
    color: #9DA6A5;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6785;
}

.features .body .card-list .desc:not(.desc-1) {
    width: 223px;
}

.features .body .card-list .desc-1 {
    width: 168px;
}